<div>
  <%= flash[:notice] %>
</div>

<body>
  <div class="container">
   <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>welcome to 
  <strong>
   <i class="fas fa-book"></i>Bookers
   </strong>
  !!
  </h1>
  <br>
  <p>In
  <strong>
   <i class="fas fa-book"></i>
   Bookers
   </strong>
  ,<br>
  you can shere and exchange your opinions, inpressions , and emotions<br>
  about various books!</p>
  <br>
  
  <div class="btn-wrapper col-10 mx-auto"></div>
   <div class="row">
    <a class="btn btn-info btn-block sign-in" href="/users/sign_in">Log in</a>
   </div>
   <br>
   <div class="row">
    <a class="btn btn-success btn-block sign_up" href="/users/sign_up">Sign up</a>
   </div>
  </div>
  </div>
  </div>
</body>
